<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false" backupStaticAttributes="false" bootstrap="bootstrap/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" syntaxCheck="false">
    <testsuites>
        <testsuite name="all">
            <directory>./tests/</directory>
        </testsuite>
        <testsuite name="financial">
            <directory>./tests/Services/Basket/</directory>
            <directory>./tests/Services/Order/</directory>
        </testsuite>
        <testsuite name="services">
            <directory>./tests/Services</directory>
            <exclude>./tests/Services/Basket/</exclude>
            <exclude>./tests/Services/Order/</exclude>
        </testsuite>
        <testsuite name="others">
            <directory>./tests/Listeners</directory>
            <directory>./tests/Jobs</directory>
            <directory>./tests/Http</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="CACHE_DRIVER_PERSISTENT" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
    </php>
    <filter>
        <whitelist>
            <directory suffix=".php">app/</directory>
        </whitelist>
    </filter>
</phpunit>
